:root {
  --bg: #000000;
  --card-bg: #202024;
  --color-primary: #00b37e;
  --color-text: #e1e1e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
#root {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 68rem;
  padding: 5rem 2rem;
}
